<div class="container">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">



      <mat-form-field appearance="fill">
        <label>Name of the school</label>
        <mat-label for="name">Name of the School</mat-label>
        <input formControlName="name" type="text" name="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <label>City</label>
        <mat-label for="city">City of the School</mat-label>
        <input formControlName="city" type="text" name="city">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <label>Phone</label>
        <mat-label for="phone">Phone number of the School</mat-label>
        <input formControlName="phone" type="text" name="phone">
      </mat-form-field>

      <div mat-dialog-actions>
        <button mat-raised-button color="warn" routerLink="/school" > Cancel 	<mat-icon>backspace</mat-icon></button>
        <button mat-raised-button class="updateButton" type="submit" > Update <mat-icon>update</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
