<div class="container">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <mat-form-field appearance="fill">
        <mat-label>Name of the School</mat-label>
        <input placeholder="Type name of the school here" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="name">City of the School</mat-label>
        <input placeholder="Type city of the school here" formControlName="city" >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone number of the School</mat-label>
        <input placeholder="Type phone number of the school here" formControlName="phone" >
      </mat-form-field>

      <div mat-dialog-actions>
        <button mat-raised-button color="warn" routerLink="/school" > Cancel </button>
        <button mat-raised-button color="primary" type="submit" > Submit </button>
      </div>
    </form>
  </mat-card>
</div>
