table {
  width: 100%;
  background-color: cadetblue;
  }

mat-card{
  margin-right: 20px;
  margin-left: 20px;
}

.actionTagLocation{
  padding-left: 65px;
}

.restoreButton{
  background-color: orange;
}

.updateButton{
  background-color: blue;
}

.deleteButton{
  background-color: red;
}

.idClick {
  color: rebeccapurple;
  text-decoration: underline;
  cursor: pointer;
}

.idClick:hover {
  color: rebeccapurple;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.addSchool {
  background-color: darkgreen;
}

button {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  font-family: sans-serif;
}
